.container {
  height: 100vh;
  width: 100vw;
  background-color: #201f1f;
  display: grid;
  div {
    margin: 0 auto;
    align-self: center;
    background-color: rgb(243, 241, 241);
    height: 350px;
    width: 250px;
    border-radius: 5px;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
